---
import { marked } from 'marked';
import Separator from "../../components/base/separator.astro";
import BaseLayout from '../../app/layouts/base-layout.astro';
import type { FileFromAPI } from '../../shared/type/file-from-api';
import sanitizeHtml from "sanitize-html";
import type { Node } from '../../shared/type/folder';
import { astroFetch } from '../../shared/lib/api';


export async function getStaticPaths() {
  const res = await astroFetch(`/notes`);
  const files = await res.json()
  return files.map((file: FileFromAPI) => ({
    params: { id: file.id },
  }));
}

const { id } = Astro.params;

// Fetch the note from your endpoint
const res = await astroFetch(`/notes/${id}`);
if (!res.ok) throw new Error(`Note not found: ${id}`);

const file = await res.json();
const html = await marked(file.content);
const safeHtml = sanitizeHtml(html)

const dirs = await astroFetch('/dirs/root');
const folderTree: Node = await dirs.json();
---

<BaseLayout folderTree={folderTree} title={file.title}>
  <div class="main">
    <h1>{file.title}</h1>
    <time>{new Date(file.date).toDateString()}</time>
    <Separator />
    <p set:html={safeHtml}></p>
  </div>
</BaseLayout>
