---
import BaseLayout from "../../../app/layouts/base-layout.astro";
import FileCreateEdit from "../../../components/layout/file-create-edit.astro";
import HeadingBlock from "../../../components/layout/heading-block.astro";
import { apiFetch } from "../../../shared/lib/api";
import type { FileFromAPI } from "../../../shared/type/file-from-api";
import type { Node } from "../../../shared/type/folder";

export async function getStaticPaths() {
  const res = await apiFetch('/notes');
  const files = await res.json()
  return files.map((file: FileFromAPI) => ({
    params: { id: file.id },
  }));
}

const { id } = Astro.params;

const res = await apiFetch(`/notes/${id}`);
if (!res.ok) throw new Error(`Note not found: ${id}`);
const file = await res.json();

const dirs = await fetch('/dirs/root');
const folderTree: Node = await dirs.json();
---

<BaseLayout folderTree={folderTree} title="Edit md">
  <div class="main">
    <HeadingBlock
      title="Edit the selected note"
      description="Edit, preview, save locally and upload the changes to the server"
    />
    <FileCreateEdit folderTree={folderTree} file={file}/>
  </div>
</BaseLayout>