---
import type { CollectionEntry } from "astro:content";
import { siteConfig } from "../app/config/site";
import BaseLayout from "../app/layouts/base-layout.astro";
import HeadingBlock from "../components/layout/heading-block.astro";
import FeaturedFiles from "../components/post/featured-files.astro";
import type { FileFromAPI } from "../shared/type/file-from-api";

const res = await fetch('http://localhost:3000/notes');
const featuredFiles: FileFromAPI[] = await res.json()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MDProject</title>
	</head>
	<body>
		<BaseLayout title={siteConfig.title} description={siteConfig.description} >
			<div class="main">
				<HeadingBlock
					title={siteConfig.mainHeadTitle}
					description={siteConfig.mainHeadDescription}
				/>
				<>
					<FeaturedFiles files={featuredFiles} />
				</>
			</div>
		</BaseLayout>
	</body>
</html>
