---
import { siteConfig } from "../app/config/site";
import BaseLayout from "../app/layouts/base-layout.astro";
import HeadingBlock from "../components/layout/heading-block.astro";
import FeaturedFiles from "../components/post/featured-files.astro";
import { apiFetch } from "../shared/lib/api";
import type { FileFromAPI } from "../shared/type/file-from-api";
import type { Node } from "../shared/type/folder";

const files = await apiFetch('/notes');
const featuredFiles: FileFromAPI[] = await files.json();
const dirs = await apiFetch('/dirs/root');
const folderTree: Node = await dirs.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MDProject</title>
	</head>
	<body>
		<BaseLayout title={siteConfig.title} description={siteConfig.description} folderTree={folderTree} >
			<div class="main">
				<HeadingBlock
					title={siteConfig.mainHeadTitle}
					description={siteConfig.mainHeadDescription}
				/>
				<>
					<FeaturedFiles files={featuredFiles} />
				</>
			</div>
		</BaseLayout>
	</body>
</html>
